<%- include('../includes/base.ejs') %>
<link rel="stylesheet" href="/home.css">
</head>
<%- include('../includes/header.ejs') %>

<main class="main">
    
</main>
<%- include('../includes/end.ejs') %>
    